<!DOCTYPE html>
{% load staticfiles %}



<head lang="en">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>
    {% block title_block %}
        Welcome to Pictaroo - A picture sharing website!
    {% endblock %}
    </title>
</head>
<body>
    <div>
    {% block body_block %}
        this is body_block's default content
    {% endblock %}
    </div>
    <hr />
    <div>
    </div>
</body>
</html>