{% extends 'pictaroo/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}

{% block body_block %}
        <h1>Pictaroo </h1>
            {% if user.is_authenticated %}
                Welcome Back {{ user.username }}!
            {% else %}
            <form id="login_form" method="post" action="{% url 'auth_login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />
            <input type="submit" value="Sign In" />
            </form>
                <p><strong>-- Sign In with Social Media --</strong></p>
                <a href="{% url 'social:begin' 'twitter' %}">
                    <img src="{{ MEDIA_URL }}twitter-logo.jpg"img= width="75" height="75" alt='Twitter Logo'>
                </a>
                <a href="{% url 'social:begin' 'facebook' %}">
                    <img src="{{ MEDIA_URL }} facebook-logo.jpg" img= width="85" height="85" alt='Facebook Logo'>
                </a>

                <p><strong>-- OR -- </strong></p>
                 <a href="{% url 'registration_register' %}">Sign Up</a>
            {% endif %}

        <div>
            <div>
                <h3>Trending Categories</h3>
            </div>

            {% if categories %}
        <ul>
            {% for category in categories %}
            <li>
                <a href="/pictaroo/category/{{ category.slug }}">{{ category.name}}</a>
            </li>
            {% endfor %}
        </ul>
            {% else %}
            <strong> There are no categories present. </strong>
            {% endif %}
        </div>


             <h3>Trending Images</h3>
            {% if image %}
                <ul>
                    {% for image in images %}
                        <li>
                            <a href="{{ image.url }}">{{ image.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>No Images currently in category. </strong>
            {% endif %}

        <br/>
        </div>
{% endblock %}