{% extends "pictaroo/base.html" %}
{% load staticfiles %}

{% block title %}{{ selecteduser.username }} Profile{% endblock %}

{% block body_block %}
        <h1>{{ selecteduser.username }} Profile</h1>

         <a href='/pictaroo/my_comments/'>Comments</a>

        <a href='/pictaroo/my_favourites/'>Favourites</a>

        <a href='/pictaroo/my_uploads/'>Uploads</a>

        <a href='/pictaroo/my_friends/'>Friends</a>

        <br/>

        {% if userprofile.picture %}
            <img src="{{ MEDIA_URL }}{{ userprofile.picture }}" width ="100" height="100"  alt="{{ selecteduser.username }}" />
        {% else %}
            <img src="{{ MEDIA_URL }}avatar.jpg" img= width="100" height="100" alt="http://www.synbio.cam.ac.uk/images/avatar-generic.jpg" />
        {% endif %}



        <input type="submit" name="Make Changes" value="Make Changes" />

        {% if input == 'Make Changes' %}
            <div>
            <div id="profile_data">
                {% if selecteduser.username == user.username %}
            <form method = "post" action = "." enctype ="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                     <input type="submit" name="submit" value="Update Profile" />
            </form>
            </div>
                {% endif%}
        {% else %}
            <form>{{ userprofile.bio }}</form>
        {% endif %}
            </div>
{% endblock %}