{% extends "pictaroo/base.html" %}
{% load staticfiles %}

{% block title %}{{ selecteduser.username }} Comments {% endblock %}

{% block body_block %}
    <div>
         <h1>{{ selecteduser.username }} Comments</h1>

        <a href="{% url 'my_account' user.username %}">Account</a>

        <a href='/pictaroo/my_favourites/'>Favourites</a>

        <a href='/pictaroo/my_uploads/'>Uploads</a>

        <a href='/pictaroo/my_friends/'>Friends</a>

    </div>
    <div>
        {% if comments|length != 0 %}
            {% for comment in comments %}
                    {{ comment.text }}
                <a href="/pictaroo/category/{{ comment.image.category.slug }}">
                    <img src= {{ comment.image.image.url }}  width="300" height="300" alt='missing' /><br/>
                </a>
            {% endfor %}
        {% else %}
            <br/>{{ user.username }} has yet to comment on any pictures
        {% endif %}
    </div>
{% endblock %}
