{% extends "pictaroo/base.html" %}
{% load staticfiles %}

{% block title %}{{ selecteduser.username }} Comments {% endblock %}

{% block body_block %}
         <h1>{{ selecteduser.username }} Comments</h1>

        <a href="{% url 'my_account' user.username %}">Account</a>

        <a href='/pictaroo/my_favourites/'>Favourites</a>

        <a href='/pictaroo/my_uploads/'>Uploads</a>

        <a href='/pictaroo/my_friends/'>Friends</a>


            <table>
                <tr>
                <th>
                    <h2>Comments</h2>
                </th>
                <th>
                    <h2>Image</h2>
                </th>
                </tr>
                <tr>
                    <td>
                       {{ user.comment.text }}
                    </td>
                    <td>
                        <img src="{{ MEDIA_URL }}facebook-logo.jpg" img= width="100" height="100">
                    </td>
                </tr>
                </tr>
            </table>
    </div>

{% endblock %}
