{% extends "pictaroo/base.html" %}
{% load staticfiles %}

{% block title %}{{ selecteduser.username }} Comments {% endblock %}

{% block body_block %}
    <div>
         <h1>{{ selecteduser.username }} Uploads</h1>

        <a href="{% url 'my_account' user.username %}">Account</a>

        <a href='/pictaroo/my_comments/'>Comments</a>

        <a href='/pictaroo/my_favourites/'>Favourites</a>

        <a href='/pictaroo/my_friends/'>Friends</a>

        <p><strong>Collection of Uploads</strong></p>

        {% for image in images %}
        {% if images.author.user == user %}


            {{ comment.text }}
            <img src= {{ comment.image.image.url }} alt='missing' /><br/>
        {% else %}
             <strong> you have yet to share your favourites images </strong>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}