{% extends "pictaroo/base.html" %}
{% load staticfiles %}

{% block title %}{{ selecteduser.username }} Comments {% endblock %}

{% block body_block %}
    <div>
         <h1>{{ selecteduser.username }} Uploads</h1>

        <a href="{% url 'my_account' user.username %}">Account</a>

        <a href='/pictaroo/my_comments/'>Comments</a>

        <a href='/pictaroo/my_favourites/'>Favourites</a>

        <a href='/pictaroo/my_friends/'>Friends</a>

    </div>
    <div>

    {% if images|length != 0 %}
            {% for image in images %}
                    {{ image.title }}
                <a href="/pictaroo/category/{{ image.category.slug }}">
                    <img src= {{ image.image.url }}  width="300" height="300" alt='missing' /><br/>
                </a>
            {% endfor %}
    {% else %}
            <br/>{{ user.username }} you have yet to upload any pictarooos!
    {% endif %}
    </div>

{% endblock %}