{% extends "pictaroo/base.html" %}
{% load staticfiles %}

{% block title %}{{ selecteduser.username }} Comments {% endblock %}

{% block body_block %}
    <div>
         <h1>{{ selecteduser.username }} Uploads</h1>

        <a href="{% url 'my_account' user.username %}">Account</a>

        <a href='/pictaroo/my_comments/'>Comments</a>

        <a href='/pictaroo/my_favourites/'>Favourites</a>

        <a href='/pictaroo/my_friends/'>Friends</a>

        <p>Collection of Uploads</p>
    </div>
{% endblock %}