appdirs==1.4.0
Django==1.10.5
django-registration-redux==1.4
oauthlib==2.0.1
olefile==0.44
packaging==16.8
Pillow==4.0.0
PyJWT==1.4.2
pyparsing==2.1.10
python-openid==2.2.5
python-social-auth==0.3.6
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
